.pageBody {
  padding-top: 1px;
  background-color: rgb(148, 148, 212);
  min-height: calc(100vh - 50px);
}

.header {
  text-align: center;
}

.hr {
  width: 50%;
  margin-bottom: 1%;
  margin-top: 1%;
}


.mypic {
  text-align: center;
}

.pageContentContainer{
  background-color: rgb(205, 205, 240);
  margin: 1% 10% 1% 10%;
  border: solid gold 2px;
}