.pageBody {
  padding-top: 0em;
  background-image: url("https://64.media.tumblr.com/6cb0ae44278156aa660d95d55df340de/tumblr_nz14o7t0Z61skcd7fo1_500.gifv");
  background-size: contain;
  min-height: calc(100vh - 100px);
}

.pageContentContainer {
  background-color: rgb(205, 205, 240);
  margin: 5% 20% 0% 20%;
  border: solid gold 2px;
  padding: 0.5em;
}

.header {
  text-align: center;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.hr {
  width: 50%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.details {
  width: 100%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.mypic {
  text-align: center;
}

.accordion {
  background-color: rgb(148, 148, 212);
  margin: 3% 20% 3% 20%;
  border: solid gold 2px;
}
