.pageBody {
  padding-top: 0em;
  background-color: rgb(148, 148, 212);
  min-height: calc(100vh - 100px);
}

.pageContentContainer {
  background-color: rgb(205, 205, 240);
  margin: 5% 20% 0% 20%;
  border: solid gold 2px;
  padding: .5em
}

.header {
  text-align: center;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.hr {
  width: 50%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.mypic {
  text-align: center;
}

.accordion {
  background-color: rgb(148, 148, 212);
  margin: 3% 20% 3% 20%;
  border: solid gold 2px;
}
