.links {
  text-decoration: none;
  color: black;
}
.menuitems {
  text-decoration: none;
  background-color: inherit;
}
.links:hover {
  color: rgb(136, 181, 226);
}

.name {
  margin: 0 auto;
  padding-right: 1em;
  text-align: center;
  justify-content: center;
  font-size: 1.5em;
}
